.batProfile{
    align-items: center;
    height: auto;
    min-width: 33%;
  }

.batProfileText{
    font-family: 'Monda', sans-serif;
    font-size: 1.2rem;
    width: 50vw;
    padding: 2%;
}


.batFormaçao{
    font-family: 'Monda', sans-serif;
    height: auto;
    background-color: #A5EFE2;
    color: #2C2F36;
}

.batSocialCards{
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.batLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #50E5CB;
    text-decoration: none;
    align-self: center;
}

.batIcon{
    color: #50E5CB;
    width: 3.5vw;
}