.app{
  font-family: 'Montserrat', sans-serif;
  background-color: #2C2F36;
  color: #50E5CB;
  min-height: 100vh;
  min-width: 100vw;
}

.batProfilePic{
  border-radius: 100%;
  padding: 2vh;
  max-width: 10%;
}

.batWellcomeText{
  padding: 5%;
  height: 300px;
  max-width: 40vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.batTitle{
  font-family: 'Metrophobic', sans-serif;
  font-size: 28px;
  font-weight: lighter;
  padding: 1.5%;
}

.batPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.batHeader{
  display: flex;
  padding-top: 1vh;
  padding-right: 1vw;
  justify-content: left;
  align-items: center;
}
