.batHabilities{
    font-family: 'Monda', sans-serif;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.batCourses{
    font-family: 'Monda', sans-serif;
    min-height: 50vh;
    background-color: #A5EFE2;
    color: #2C2F36;
}

.batList{
    width: 90vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    text-align: left;
}