
.navBar{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    min-width: 50vw;
    display: flex;
    flex-direction: row;
    text-align: end;
    border-bottom: #50E5CB solid 1px;
}

.navLink{
    text-align: left;
    text-decoration: none;
    color: #50E5CB;
    width: auto;
    padding-left: 3vw;
    
}

.navLink :hover{
    transform: scale(1.25);
    color:#c5e4f3;
}
